# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.env

# ========================
# Arduino / IDE
# ========================
*.elf
*.hex
*.bin
*.map
.arduino/
build/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db
Desktop.ini

# ========================
# IDE & Editor
# ========================
.vscode/
.idea/
*.swp
*.swo
*~
